body {
	font-family: "Arial";
	font-size: 1em;
}

input, button {
	height: 34px;
	font-family: "Arial";
}

table {
	margin-top: 5px;
}

td, th {
	cursor: default;
	border: 1px solid black;
	padding: 3px;
}

tr td:first-child {
	width: 20em;
	max-width: 20em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.current {
	background-color: lightgreen;
}

.description {
	white-space: normal;
}

.delete {
	background-color: salmon;
	color: #fff;
	border: none;
	cursor: pointer;
	user-select: none;
}